<!--This is the _Layout view that will be inherited by other views.-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="icon" href="~/img/guitarIcon.png" />
</head>
<body>
    <header>
        <!--My prefered name, picture of me playing guitar, and a paragraph about what I hope to learn.-->
        <h1>@ViewBag.Header</h1>
        <menu>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="GradeCalculator">Grade Calculator</a></li>
            </ul>
        </menu>
        <img src="~/img/guitar.jpg" />
    </header>

    <!--This is where the body for other pages will go. -->
    @RenderBody()

    <!--Footer and script that will be accessible on any page that inherites from this view-->
    <footer>This be me!</footer>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/gradeCalculator.js"></script>
</body>
</html>
