@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //set the title and header for this page
    ViewBag.Title = "Joshua Card's Page";
    ViewBag.Header = "Josh Card";
}

<!--Paragraph and list of top three jobs that will be displayed on the index.cshtml page with the inherited layout from _Layout.cshtml-->
<body>
    <p>
        I hope to really understand ASP.NET MVC Core. I want to be able to go into a workplace and feel confident in my abilities,
        as well as be able to talk about the subject in an interview. I would also like to better understand git and github,
        seeing as working on a team is almost always the situation I will find myself in while in industry.
    </p>

    <!--List of top three jobs I would like out of college-->
    <h3>Top Three Jobs:</h3>
    <ul>
        <li>Web/software development</li>
        <li>Security</li>
        <li>Database design and management</li>
    </ul>


</body>
